[user]
	name = "{{ .name }}"
	email = "{{ .email }}"
[core]
  editor={{ .chezmoi.config.edit.command }}
	excludesfile = ~/.gitignore_global
{{ if eq .chezmoi.os "windows"}}
	autocrlf = true
{{ else }}
	autocrlf = input
{{ end }}
  filemode = false
  pager = less -FRSX
[rerere]
  enabled = true
  autoupdate = true
[push]
  default = simple
[color]
  status = {{ .chezmoi.config.color }}
  diff = {{ .chezmoi.config.color }}
  branch = {{ .chezmoi.config.color }}
  interactive = {{ .chezmoi.config.color }}
  grep = {{ .chezmoi.config.color }}
  ui = {{ .chezmoi.config.color }}
  pager = true
  filemode = false
[submodule]
	recurse = true
	fetchJobs = 0
[rebase]
	autoStash = true
[merge]
  tool = {{ .chezmoi.config.diff.command }}
[mergetool "winmerge"]
  cmd = \"C:\Users\james\AppData\Local\Programs\WinMerge\WinMergeU.exe\" -e -u -fm -wl -dl \"Local\" -wr -dr \"Remote\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
  trustExitCode = true
[mergetool]
  prompt = false
  keepBackup = false
[diff]
  tool = {{ .chezmoi.config.diff.command }}
[difftool "winmerge"]
  prompt = false
  cmd = \"C:\Users\james\AppData\Local\Programs\WinMerge\WinMergeU.exe\" -e -u -dl \"Old $LOCAL\" -dr \"New $REMOTE\" \"LOCAL\" \"REMOTE\"
[init]
  defaultBranch = main
[github]
  user = moodyKroko
[filter "lfs"]
	clean = {{ .chezmoi.config.git.command }}-lfs clean -- %f
	smudge = {{ .chezmoi.config.git.command }}-lfs smudge -- %f
	required = true
	process = {{ .chezmoi.config.git.command }}-lfs filter-process
