return {
  { "folke/flash.nvim", enabled = false },
  { "folke/persistence.nvim", enabled = false },

  -- telescope
  {
    "nvim-telescope/telescope.nvim",
    lazy = true,
    opts = {
      defaults = {
        layout_strategy = "horizontal",
        layout_config = {
          horizontal = {
            prompt_position = "top",
            preview_width = 0.5,
          },
          width = 0.8,
          height = 0.8,
          preview_cutoff = 120,
        },
        sorting_strategy = "ascending",
        winblend = 0,
        border = {
          enabled = true,
        },
        mappings = {
          i = {
            ["<c-d>"] = require("telescope.actions").delete_buffer,
          },
        },
      },
    },
  },

  -- treesitter
  {
    "nvim-treesitter/nvim-treesitter",
    opts = {
        ensure_installed = {
            "css",
            "gitignore",
            "go",
            "http",
            "java",
            "sql"
          },
      },
  },
{{ if eq .chezmoi.os "windows" }}
  -- auto sessions
  {
    "rmagatti/auto-session",
    -- event = { { "VimLeavePre" } }, -- { "VimEnter", "VimLeavePre" },
    lazy = false,
    dependencies = {
      "nvim-telescope/telescope.nvim",
    },
    config = function()
      require("auto-session").setup({
        log_level = vim.log.levels.ERROR,

        auto_session_enabled = true,
        -- auto_save_enabled = true,
        -- auto_restore_enabled = true,

        -- "C:\\", "C:\\Users\\james"
        auto_session_suppress_dirs = { "~/", "~/Projects", "~/Downloads", "/", "$HOME" },
        auto_session_use_git_branch = false,

        bypass_save_filetypes = { "alpha", "dashboard" },

        cwd_change_handling = true,

        pre_cwd_changed_cmds = {
          "tabdo NERDTreeClose",
        },
      })
    end,
    keys = {
      {
        "<leader>fs",
        function()
          require("auto-session.session-lens").search_session()
        end,
        desc = "Search for a session",
      },
    },
  },
{{ end }}
  -- trouble
  {
    "folke/trouble.nvim",
    opts = {
      modes = {
        lsp = {
          win = { position = "bottom" },
        },
      },
    },
    },

  {
    "sindrets/diffview.nvim",
    lazy = true,
    opts = {},
    cmd = "DiffviewOpen",
    keys = {
      {
        "<leader>dvo",
        "<cmd>DiffviewOpen<cr>",
        mode = { "n" },
        desc = "Open a diff view in another tab",
      },
    },
  },

  {
    "which-key.nvim",
    opts = {
      spec = {
        ["<leader>dv"] = { name = "+diffview" },
      },
    },
  },
}
